<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
       

    <bean id="chef" class="cook3.Chef">
        <constructor-arg  index="0"  ref="recipe" />
    </bean>

    <bean id="recipe" class="cook3.Recipe">
        <property name="name" value="Pasta Carbonara" />
    </bean>
</beans>
    
